@import '../scss/global.scss';
nav{
    padding: 20px 18px;
    @include display(row,center,space-between,0);
    .rigth{
        .close{
            color: black;
            svg{
            width: 24px;
            height: 24px;
            }
        }
        .comp-right{
            display: none;
        }
    }
}

@media (min-width:768px) {
    nav{
        padding: 24px 100px;
        .rigth{
            .close{
                display: none;
            }
            .comp-right{
                @include display(row,center,flex-end,20px);
                color: #2E3A59;
                
                .log-sign{
                    @include button(12px 26px,8px,transparent,#222B45);
                    border: 1px solid #222B45;
                    text-decoration: none;
                    transition: 300ms all;
                    &:hover{
                        background-color: #FFD339;
                        border-color: #FFD339;
                    }
                }
            }
        }
    }
}