@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    &:focus {
        outline: none;
    }
  .main-app{
    min-height: 100vh;
  }
}